<p>Hello,</p>
<p>
	This is an automatic email informing a password change request to your account with the email <b><%= email %></b>.
</p>
	If you wish to change your password, click below to redefine.
	<br/>
	<a href="<%= changeLink %>"><%= changeLink %></a>
	<br/><br/>

	If for any reason you changed your mind, you can cancel using the link below.
	<br/>
	<a href="<%= cancelLink %>"><%= cancelLink %></a>
	<br/><br/>
</p>

<p>Best regards</p>